* {
    box-sizing: border-box;
    line-height: 1em;
}

section {
    display: -webkit-flex;
    display: flex;
}

config {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 5px;
    width: 200px;
    font-size: 8;
}

draw {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #ffffff;
    padding: 5px;
}